<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385310320450-98ksvi7nsiv0i50l7601qam7ta1206ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385310320450-98ksvi7nsiv0i50l7601qam7ta1206ee</string>
	<key>API_KEY</key>
	<string>AIzaSyAeIeq81URTxhnxd-ghoZYHSGjqGOFPxPc</string>
	<key>GCM_SENDER_ID</key>
	<string>385310320450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-76ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-76ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385310320450:ios:c336d368bfad1bf0e7cadb</string>
</dict>
</plist>